{% extends 'ecoapp/base.html' %}
{% block title %}{{ action.title }} - GreenWorld{% endblock %}
{% block content %}
<h2>{{ action.title }}</h2>
<p><strong>Category:</strong> {{ action.category.name }}</p>
<p>{{ action.description }}</p>
<p><small>Uploaded by: {{ action.user.username }}</small></p>
<p><small>Uploaded on: {{ action.uploaded_at|date:"M d, Y H:i" }}</small></p>

{% if action.file %}
    <p><a href="{{ action.file.url }}" target="_blank">Download file</a></p>
{% endif %}
<a href="{% url 'ecoapp:action_list' %}" class="btn btn-secondary">Back to list</a>
{% endblock %}
